


      <div>
        <ul class="nav">
          <li>
            <a routerLink="/videos" routerLinkActive="active">videos</a>
            <a routerLink="/customers" routerLinkActive="active">Customers</a>
          </li>
        </ul>
    </div>


  <div class="panel-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">video</label>
        <input type="text" class="form-control" formControlName="title" #title [(ngModel)] = "video.title"/>
      </div>

      <div class="form-group">
        <label class="col-md-4">runTime:</label>
        <input type="text" class="form-control" formControlName="runTime" #title [(ngModel)] = "video.runTime"/>
      </div>

      <div class="form-group">
        <label class="col-md-4"></label>
        <input type="text" class="form-control" formControlName="genre" #genre [(ngModel)] = "video.genre"/>
      </div>

      <div class="form-group">
        <label class="col-md-4">rating</label>
        <select class="form-control" formControlName="newrating" [(ngModel)]='rating.rating'>
            <option *ngFor="let r of rating" [ngValue]='r'>
              {{r}}
            </option>
          </select>
      </div>

      <div class="form-group">
        <label class="col-md-4">Time</label>
        <input type="text" class="form-control" formControlName="time" #time [(ngModel)] = "player.time"/>
      </div>

      <div class="form-group">
        <label class="col-md-4">Favourite Game</label>
        <select class="form-control" formControlName="gamesPlayed" #gamesPlayed [(ngModel)]='player.gamesPlayed'>
            <option *ngFor="let game of games" [ngValue]='game.title'>
              {{game.title}}
            </option>
          </select>
      </div>
      
      <div class="form-group">
        <label class="col-md-4">Status</label>
        <select  formControlName="status" [(ngModel)] = "statuses.status">
          <option  *ngFor='let vid of statuses' [ngValue]='vid.st' >
            {{vid.st}}
          </option>
        </select>
      </div>
      
      <div class="form-group">
        <button  (click)="updatePlayer(playerName.value, rank.rank, score.value, time.value, gamesPlayed.value, statuses.status)">Update</button>
     </div>
    </form>
  </div>