<script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
        <div>
          <ul class="nav">
            <li>
              <a routerLink="/admin" routerLinkActive="active" *ngIf="auth.isAuthenticated()"> admin</a>
              <a routerLink="/customers" routerLinkActive="active" *ngIf="auth.isAuthenticated()">Customers</a>
              
            </li>
          </ul>
        </div>
      <h3>{{title}}</h3>

      <input [(ngModel)]="searchText" placeholder="search text goes here">
      <table class="table table-hover">
          <thead>
          <tr>
              <td>Title</td>
              <td>Run Time</td>
              <td>Genre</td>
              <td>Rating</td>
              <td>Director</td>
              <td>Status</td>
              <td>Action</td>
          </tr>
          </thead>
        
          <tbody>
              <tr *ngFor="let video of videos | filter : {title: searchText, runTime: searchText, 
                  genre: searchText, rating: searchText, director: searchText, status: searchText}  ">
                  <td>{{ video.title }}</td>
                  <td>{{ video.runTime }}</td>
                  <td>{{ video.genre }}</td>
                  <td>{{ video.rating }}</td>
                  <td>{{ video.director }}</td>
                  <td>{{ video.status }}</td>
                 <td *ngIf="video.status=='Available'">
                        <button><a [routerLink]="['/reserve', video._id]">Reserve</a></button>
                </td>
                <td *ngIf="video.status=='Available'">
                  <button><a [routerLink]="['/edit', video._id]">Edit</a></button>
                </td>
                <td *ngIf="auth.isAuthenticated()"><button (click) = "deleteVideo(video._id)" class="btn btn-danger">Delete</button></td>

              </tr>
          </tbody>
        </table>