
<div>
        <ul class="nav">
          <li>
            <a routerLink="/" routerLinkActive="active">Videos</a>
            <a routerLink="/customers" routerLinkActive="active">Customers</a>
          </li>
        </ul>
    </div>
    <div>
        <h3>{{title}}
        </h3>
    </div>
    <p>
      The Adminstrators' view gives the administrator advanced privilages such as:
    </p>
    <ul>
      <li>
        Create a New Player
      </li>
      <li>
        Edit Exisiting Players
      </li>
      <li>
        Delete a Player Profile
      </li>
      <li>
        View the List of Games Available
      </li>
    </ul>