<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>VideoCreate</title>

</head>

<body id="main_body">
	<div id="form_container">

		<h1><a>Video Create</a></h1>
		<form [formGroup]="form" (submit)="onSaveVideo()">

			<ul>

				<li>
					<label class="description" for="title">Title </label>
					<div>
						<input formControlName = "title" name="title" class="element text medium" type="text" maxlength="255" value="" />
					</div>
				</li>
				<li>
					<label for="runTime">Run Time </label>
					<div>
						<input name="runTime" class="element text medium" type="text" maxlength="255" value="" />
					</div>
				</li>
				<li>
					<label for="genre">Genre </label>
					<div>
						<select name="genre">
							<option value="comedy" selected="selected">comedy</option>
							<option value="action">action</option>
              <option value="sci-fi">sci-fi</option>
              <option value="romance">sci-fi</option>
							<option value="documentary">sci-fi</option>
						</select>
					</div>
				</li>
				<li>
					<label for="rating">Rating </label>
					<div>
						<input name="rating" type="number"/>
					</div>
				</li>
				<li>
					<label for="director">Director </label>
					<div>
						<input name="director" type="text" />
					</div>
				</li>
				<li>
					<label class="description" for="element_10">Status </label>
					<div>
						<select class="element select medium" id="element_10" name="element_10">
							<option value="true">Available</option>
							<option value="false">Unavailable</option>
						</select>
					</div>
				</li>
				<li>
					<label class="description" for="element_7">Customer </label>
					<div>
						<select class="element select medium" id="element_7" name="element_7">
              <option value="null" selected="selected">None</option>
              <option *ngFor="let customer of customers" [value]="customer._id">{{customer.firstName + " " + customer.lastName}}</option>
						</select>
					</div>
				</li>

				<li>
					<input type="hidden" name="form_id" value="40733" />

					<input class="button_text" type="submit" name="submit" value="Submit" />
				</li>
			</ul>
		</form>
	</div>
</body>

</html>